$header-height: 60px;

$main-bg: #fafafa;
$white-bg: #fff;

$main-blue: #385185;
$secondary-blue: #0095f6;
$blue-bg: #b2dffc;

$text-color: #262626;
$text-sub: #8e8e8e;

$border-color: #dbdbdb;

$input-bg: #fefefe;
